<html>
<head>
<script>{{ .Chartminjs }}</script>
<script>{{ .Chartjsadapterdatefnsbundleminjs }}</script>
<script>{{ .Hammerjs }}</script>
<script>{{ .Chartpluginzoomminjs }}</script>
</head>
<body>
<div class="chart-container" style="position: relative; width: 90%;">
    <canvas id="myChart"></canvas>
</div>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'ping',
            data: [
                {{range $line := .PingResults -}}
                {{ if ne $line.Latency "-1" -}}
                { x: '{{ $line.PingTime.Format "2006-01-02 03:04:05" }}', y: {{ $line.Latency }} },
                {{ end -}}
                {{ end -}}
            ],
            pointRadius: 0,
            pointHoverRadius: 5,
            borderColor: 'rgb(115, 191, 105)',
            borderWidth: 2,
        },{
            type: 'bar',
            label: 'false',
            data: [
                {{range $line := .PingResults -}}
                {{ if eq $line.Latency "-1" -}}
                { x: '{{ $line.PingTime.Format "2006-01-02 03:04:05" }}', y: 10 },
                {{ end -}}
                {{ end -}}
            ],
            backgroundColor: 'rgb(242, 73, 92)',
            categoryPercentage: 1.0,
            barPercentage: 1.0
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true,
                ticks: {
                    stepSize: 1
                },
                afterDataLimits(scale) {
                    scale.max *= 1.1;
                }
            },
            x: {
                display: true,
                type: 'time',
                time: {
                    minUnit: "second",
                    unitStepSize: 1,
                    parser: 'yyyy-MM-dd HH:mm:ss',
                    displayFormats: {
                        second: "HH:mm:ss",
                        minute: "HH:mm",
                        hour: "dd.MM HH:mm",
                        day: "yyyy.MM.dd",
                    },
                },
                ticks: {
                    stepSize: 1
                },
                grid: {
                    offset: false
                }
            }
        },
        plugins: {
            title:{
                display:true,
                text: "Ping host: host"
            },
            zoom: {
                zoom: {
                    drag: {
                        enabled: true,
                    },
                    wheel: {
                        enabled: true,
                    },
                    pinch: {
                        enabled: true
                    },
                    mode: "x",
                },
                pan: {
                    enabled: true,
                    mode: "x",
                    modifierKey: "ctrl"
                }
            }
        }
    }
});
</script>
</body>
</html>